@-moz-document url("https://www.kenmei.co/dashboard") {
    .bg-white{
        background-color: rgb(17, 24, 39);
        border: 1px solid rgb(31, 41, 55);
    }

    .bg-gray-100 {
     background-color: rgb(17, 24, 39);
    
}
    
    .the-dashboard[data-v-639c85e7] {
        background-color: rgb(31, 41, 55);
        border-radius: 30px;
            border: black solid 0.75px;
    }
    
    .the-dashboard-header {
        background-color: rgb(17, 24, 39);
        border: rgb(55, 65, 81);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    
    footer[data-v-c971e704] {
        background-color: rgb(17, 24, 39);
    }
    
    .the-dashboard-footer[data-v-639c85e7] {
        background-color: rgb(17, 24, 39);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: none
    }
    
    .top-drawer[data-v-e1fa45af] {
        background-color: rgb(51, 65, 85);
        border-bottom: none;
    }
    
    .input--visible[data-v-9055045d] {
        background: rgb(17, 24, 39);
        border-color: rgb(17, 24, 39)
    }
    
    .mode-select-btn[data-v-a94a452b] {
        background-color: rgb(17, 24, 39);
        border-color: rgb(17, 24, 39);
    }
    
    .mode-select-btn[data-v-a94a452b]:hover {
        background-color: rgb(29, 37, 54);
    }
    
    .btn--icon[data-v-ee3b4529] {
        background: rgb(17, 24, 39);
        border-color: rgb(17, 24, 39);
    }
    
    .chapter__none[data-v-b3992ff2] {
        color: rgb(0, 0, 0);;
    }

    time[data-v-e60ccf13] {
        color: rgb(173, 167, 167)   
    }

    .text-gray-950, 
    .text-gray-900,  
    .text-gray-500, 
    .text-gray-400,
    .text-gray-700 {
        color: white
    }

    .input--visible[data-v-9055045d]:focus {
        border: none;
        --tw-ring-color: rgb(0, 0, 0)
    }
    
    /* Readable on, tags, refresh, content type */
    button[data-v-bf56e783]:hover,
    button[data-v-e31e3202]:hover {
        color: white
    }

    button[data-v-bda35c80] {
        background-color: rgb(51, 65, 85);
        color: rgb(255, 255, 255);
}

    .border-gray-300 {
        border: solid rgb(55, 65, 81) 1px
    }

    .hover_bg-gray-100:hover {
        background-color: rgb(20 33 61);
    }

    div[data-v-ee3b4529]:focus {
        background-color: rgb(173, 167, 167)
    }
    
    div[data-v-bf56e783]:hover{
        background-color: rgb(17, 24, 39);
    }

    .router--wrapper[data-v-549a39cc],
    .switch[data-v-a94a452b],
    [type=text] {
        background-color: rgb(51, 65, 85);
    }
    
    @media (min-width: 640px) {
        .list-row__regular[data-v-df88933d]:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(55, 65, 81);
        }
        
    .divide-gray-200>:not([hidden])~:not([hidden]) {
            border: rgb(0, 0, 0)   
        }
    }
    
    
    .desktop-link[data-v-15f9397e],
    .router-link-active.desktop-link[data-v-15f9397e],
    .btn--regular[data-v-139654a8], 
    .btn--bell[data-v-4e08143f],
    kbd[data-v-139654a8],
    .series-link[data-v-e60ccf13],
    [type=checkbox],[type=radio],
    .link[data-v-c971e704],
    .link[data-v-c971e704]:hover,
    button,input,
    optgroup,
    select,
    textarea {
        color: rgb(255, 255, 255);
    }

    /* Search Bar */

.wrapper--search-input[data-v-c4cbb89e] {
    padding: 0;
}

.modal-body[data-v-c4cbb89e] {
    margin: 0
}
}